<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Cookbook.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ShareExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C386E7F2227620D3008B7E9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C38BDEAD225BBA9300C7137D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C38BDEC1225BBA9500C7137D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C38BDECC225BBA9500C7137D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
